/*

	terrafirma1.0 by nodethirtythree design
	http://www.nodethirtythree.com

*/

*
{
padding: 0px;
margin: 0px;
}

body
{
background: #F9F9F7 url('../images/a1.gif') repeat-x;
font-size: 11px;
font-family: "trebuchet ms", helvetica, sans-serif;
color: #111111;
line-height: 18px;
}

a
{
	color: #CC0000;
	text-decoration: underline;
}

a:hover
{
	text-decoration: none;
	color: #FF0000;
}

sup
{
font-size: 0.5em;
}


p
{
margin-bottom: 14px;
text-align: justify;
}

img.picA
{
position: relative;
top: -2px;
background: url('../images/a47.gif') no-repeat;
width: 76px;
height: 74px;
padding: 8px;
}

img.picB
{
position: relative;
top: -2px;
background: url('../images/a26.gif') no-repeat;
width: 146px;
height: 75px;
padding: 7px;
}

img.floatleft
{
float: left;
margin: 0px 14px 3px 0px;
}


ul.linklist
{
list-style: none;
}

ul.linklist li
{
border-top: solid 1px #EEEEEE;
padding-top: 5px;
margin: 5px 0px 0px 0px;
}

ul.linklist li.first
{
border-top: 0px;
margin-top: 0px;
padding-top: 0px;
}

#upbg
{
position: absolute;
top: 0px;
left: 0px;
background: #fff url('../images/upbg.gif') no-repeat;
width: 747px;
height: 264px;
z-index: 1;
}

#outer
{
position: relative;
width: 747px;
margin: 0 auto;
background: #fff url('../images/abg.gif') repeat-y;
}

#inner
{
position: relative;
padding: 13px 30px 13px 30px;
z-index: 2;
}

#header
{
position: absolute;
background: #990000 url('../images/a8.gif') repeat-x;
width: 202px;
height: 92px;
color: #fff;
padding-left: 20px;
}

#header span
{
font-weight: normal;
}

#header h1
{
position: absolute;
font-size: 23px;
letter-spacing: -1px;
top: 30px;
height: 92px;
}

#header h2
{
position: absolute;
font-size: 10px;
font-weight: normal;
color: #FCE2CA;
top: 51px;
}

#header sup
{
color: #FCE2CA;
}
#splash
{
position: absolute;
right: 30px;
background: #EAEAE2 url('../images/a10.jpg') no-repeat;
width: 458px;
height: 92px;
}
#menu
{
position: relative;
background: #000066 url('../images/a16.gif') repeat-x;
height: 67px;
padding: 0px 20px 0px 5px;
margin: 98px 0px 20px 0px;
}

#menu ul
{
}

#menu ul li
{
display: inline;
line-height: 52px;
padding-left: 3px;
}

#menu ul li.first
{
border-left: 0px;
}

#menu ul li a
{
background-color: transparent;
background-repeat: repeat-x;
padding: 8px 12px 8px 12px;
font-size: 12px;
color: #fff;
font-weight: bold;
}

#menu ul li a:hover
{
background: #fff url('../images/a18.gif') repeat-x top;
color: #4A4A24;
text-decoration: none;
}

#date
{
position: absolute;
top: 0px;
line-height: 52px;
color: #BDBDA2;
right: 30px;
font-weight: bold;
font-size: 12px;
letter-spacing: -1px;
}

#secondarycontent
{
position: relative;
width: 180px;
float: right;
}

#secondarycontent h2
{
position: relative;
top: 4px;
font-size: 16px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('../images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 10px;
margin-bottom: 10px;
}

#secondarycontent .content
{
padding: 0px 10px 0px 10px;
margin-bottom: 2px;
}

#primarycontent
{
position: relative;
width: 480px;
float: left;
}

#primarycontent .post .header h3
{
position: relative;
top: 4px;
font-size: 18px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('../images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 15px;
margin-bottom: 20px;
}

#primarycontent .post .header h2
{
position: relative;
top: 4px;
font-size: 18px;
sline-height: 25px;
color: #656551;
letter-spacing: -1px;
sbackground: url('../images/a22.gif') bottom repeat-x;
spadding: 0px 0px 10px 15px;
smargin-bottom: 20px;
padding: 0 0 8px 0;
}

#primarycontent .post .content .post .header
{
	border-bottom: thin dotted #DDDDDD;
	margin-bottom: 10px;
}
#primarycontent .post .content .post .header .submitted
{
	background: url('../icons/page_white_text_width.gif') left center no-repeat;
	padding: 0 10px 0 18px;
	margin: 0 0 5px 0;
}

#primarycontent .post .header a
{
color: #8C8C73;
text-decoration: none;
}
#primarycontent .post .header .submitted
{
	display: block;
}

#primarycontent .content .post .content
{
padding: 0 10px 0 10px;
clear: both;
}

#primarycontent .post
{
margin-bottom: 20px;
margin-left: 8px;
clear: both;
}

#primarycontent .post .header
{
position: relative;
}

#primarycontent .post .date
{
position: absolute;
right: 15px;
top: 0px;
line-height: 35px;
color: #AFAFA4;
font-weight: bold;
}

#primarycontent .post .content
{
margin-bottom: 0px;
}

#primarycontent .content .post .content h1 
{
	font-size: 16px;
	color: #8C8C73;
	font-weight: bold;
	margin-bottom: 4px;
}
#primarycontent .content .post .content h2
{
	font-size: 15px;
	color: #555555;
	font-weight: bold;
	margin-bottom: 2px;
}
#primarycontent .content .post .content h3
{
	font-size: 12px;
	color: #111111;
	font-weight: bold;
	margin-bottom: 1px;
}
#primarycontent .content .post .content ul,ol
{
	margin: 0 0 10px 0;
	padding: 0 0 0 20px;
}
#primarycontent .content .post .content blockquote
{
	display: block;
	border: 1px solid #f2f2f2;
	margin-left: 5px;
	padding: 0 10px 0 21px;
	background: #FAFAFA url('../icons/comment.gif') no-repeat 2px 0px;    
}
#primarycontent .content .post .content code
{
	border: 1px solid #f2f2f2;
	margin-left: 5px;
	padding: 0 10px 0 21px;
	display: block;
	background: #313131 url('../icons/tag.gif') no-repeat 2px 0px;    
	font-weight: bold;
	font-size: 12px;
	color: #FEFEFE;
}

#primarycontent .content .post .content td,tr
{
	padding: 2px;
}

#primarycontent .post .footer
{
position: relative;
clear: both;
padding-top: 5px;
padding-bottom: 10px;
}

#primarycontent .post .footer .tagdata
{
	display: block;
	float: left;
	padding: 0 10px 0 18px;
	margin: 0 0 0 10px;
	background: url('../icons/tag_blue.gif') left center no-repeat;
}

#primarycontent .post .footer .commentlinks
{
	display: inline;
	float: right;
	padding: 0 10px 0px 18px;
	background: url('../icons/comment.gif') left center no-repeat;
}

#primarycontent .post .footer ul
{
list-style: none;
position: absolute;
right: 15px;
bottom: 15px;
}

#primarycontent .post .footer ul li
{
display: inline;
line-height: 14px;
padding-left: 17px;
margin-left: 25px;
background-repeat: no-repeat;
background-position: 0px 2px;
}


#primarycontent .post .footer ul li.printerfriendly
{
background-image: url('../images/a41.gif');
}

#primarycontent .post .footer ul li.comments
{
background-image: url('../images/a36.gif');
}

#primarycontent .post .footer ul li.readmore
{
background-image: url('../images/a38.gif');
}

#primarycontent .post .info
{
color: #000000;
font-weight: bold;
}

#footer
{
position: relative;
clear: both;
height: 66px;
text-align: center;
line-height: 66px;
sbackground-image: url('../images/a50.gif');
background-image: url('../images/a33.gif');
color: #A8A88D;
}

#footer a
{
color: #8C8C73;
}

#aggregator .feed-item .feed-item-title a
{
text-decoration: none;
}

#aggregator .feed-item .feed-item-title h3
{
position: relative;
top: 4px;
font-size: 16px;
line-height: 25px;
color: #656551;
letter-spacing: -1px;
background: url('../images/a22.gif') bottom repeat-x;
padding: 0px 0px 10px 15px;
margin-bottom: 20px;
}

.poll
{
	margin-bottom: 10px;
}

.featurebox {
	color:#333; 
	padding: 15px 10px 10px 10px; 
	margin: 0 5px 15px 5px;
	
	background: #FAFAFA; 
	border: solid #f2f2f2;
	border-width: 1px;
}
.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em;border-bottom: 1px solid #c00;color:#c00}
.featurebox p {border:none;margin: 0 0 1em;color:#444}
.featurebox a {font-weight:bold}

#primarycontent .post .comment .author-name
{
	font-weight: bold;
	background: url('../icons/user_comment.gif') left center no-repeat;
	padding: 2px 10px 2px 18px;
	margin: 0 0 5px 10px;	
}
#primarycontent .post .comment .content
{
	margin: 3px 0 0 0;
}
#primarycontent .content .box .content .new
{
	color: #FF0000;
	font-weight: bolds;
}
#primarycontent .box .content img {
	display: block;
	margin-top: 2px;
}
#header .i18n-link {
	display: block;
	margin: 0;
	padding: 0;
}
#header .language
{
	position: absolute;
	font-size: 10px;
	top: 20px;
	left: 200px;
	height: 60px;
}
#secondarycontent .block .content li {
	margin: 0;
	padding: 0 10px 0 0;
}
